span{
  position: relative;
  display: inline-flex;
  width: 60px;
  height: 20px;
  margin: 0 15px;
  perspective: 1000px;
}
button{
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;

  
}
button:before,
button:after{
  position: absolute;
  content: "Dodaj";
  height: 30px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 0%;
}
button:before{
  color: #fff;
  background: #cccccc;
  transform: rotateY(0deg) translateZ(25px);
}
button:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
button:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}